<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/global_uniform.css">
    <link rel="stylesheet" href="/static/styles/nav_bar_styles.css">
    <link rel="stylesheet" href="/static/styles/selection_pages.css">
    <link rel="icon" href="/static/icons/home_tab_icon.png">
    <title>Dynamics</title>
</head>
<body>
    <%- include('../../nav_bar.ejs') %>
    <div id="page-title">
        <p>Dynamics</p> 
    </div>
    <div id="unit-select-button">
        <div class="button-separate">
            <p>Newton's Second Law</p>
        </div>
        <button id="force-button">Force</button>
        <button id="mass-button">Mass</button>
        <button id="acceleration-button">Acceleration</button>
        <div class="button-separate">
            <p>Kinetic and Static Friction</p>
        </div>
        <button id="force-normal-button">Force Normal</button>
        <button id="force-friction-button">Force Friction</button>
        <button id="friction-coefficient-button">Friction Coefficient</button>
        <div class="button-separate">
            <p>Universal Gravitation</p>
        </div>
        <button id="gravity-button">Gravity</button>
        <button id="radius-button">Radius</button>
        <button id="mass-1-button">Mass One</button>
        <button id="mass-2-button">Mass Two</button>
    </div>
</body>
<script src="../../../static/scripts/dynamics/dynamics_buttons.js"></script>
</html>