<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/nav_bar_styles.css">
    <link rel="stylesheet" href="/static/styles/global_uniform.css">
    <link rel="stylesheet" href="/static/styles/selection_pages.css">
    <link rel="icon" href="/static/icons/home_tab_icon.png">
    <title>Physics Calculator</title>
</head>
<body>
    <%- include('nav_bar.ejs') %>
    <div id="page-title">
       <p>Welcome to the Physics Calculator</p>
    </div>
    <div class="button-separate">
        <p>Branch Selection</p>
    </div>
    <div id="unit-select-button">
        <button id="kenimatics-button" name="kenimatics">Kenimatics</button>
        <button id="dynamics-button" name="dynamics">Dynamics</button>
    </div>
    <div class="button-separate">
        <p>Other Tools</p>
    </div>
    <div id="other-select-button">
        <button id="unit-conversion-button" name="unit conversion">Unit Conversion</button>
    </div>
</body>
<script src="/static/scripts/unit_buttons.js"></script>
<script src="/static/scripts/other/tool_buttons.js"></script>
</html>