<ul>
    <li><a href="/" id="page-title-nav">Physics Calculator</a></li>
    <li><a href="/units/kenimatics" class="nav-items">Kenimatics</a></li>
    <li><a href="/units/dynamics" class="nav-items">Dynamics</a></li>
    <li style="float:right"><a class="nav-items" href="#">GitHub</a></li>
</ul>