<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/global_uniform.css">
    <link rel="stylesheet" href="/static/styles/nav_bar_styles.css">
    <title>Kenimatics</title>
</head>
<body>
    <%- include('../../nav_bar.ejs') %>
    <div id="page-title">
        <p>Kenimatics</p> 
    </div>
    <div id="unit-select-button">
        <button id="velocity-2-button">Final Velocity</button>
        <button id="velocity-1-button">Initial Velocity</button>
        <button id="time-button">Time</button>
        <button id="displacement">Displacement</button>
        <button id="acceleration">Acceleration</button>
    </div>
</body>
<script src="/static/scripts/kenimatics/kenimatics_buttons.js"></script>
</html>