<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/nav_bar_styles.css">
    <link rel="stylesheet" href="/static/styles/global_uniform.css">
    <title>Final Velocity</title>
</head>
<body>
    <%- include('../../nav_bar.ejs') %>
    <div id="page-title">
        <p>Final Velocity</p>
    </div>
    <div id="variable-inputs">
        <input type="text" placeholder="Initial Velocity" id="velocity1-input"><br>
        <input type="text" placeholder="Time" id="time-input"><br>
        <input type="text" placeholder="Acceleration" id="acceleration-input"><br>
        <input type="text" placeholder="Displacement" id="displacement-input"><br>
        <button id="calculate-button">Calculate</button>
    </div>
</body>
<script src="../../static/scripts/kenimatics/kenimatics_formula.js"></script>
</html>