<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Velocity</title>
</head>
<body>
    <h1>Final Velocity</h1>
    <input type="text" placeholder="Initial Velocity" id="velocity1-input"><br>
    <input type="text" placeholder="Time" id="time-input"><br>
    <input type="text" placeholder="Acceleration" id="acceleration-input"><br>
    <input type="text" placeholder="Displacement" id="displacement-input"><br>
    <button id="calculate-button">Calculate</button>
</body>
<script src="../../static/scripts/kenimatics/kenimatics_formula.js"></script>
</html>