/* gobal reset and adding uniform fonts and themes */
* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(70, 70, 70);
}
#unit-select-button button {
    background-color: rgb(151, 151, 151);
    border-radius: 2px;
    padding: 50px;
    margin: 20px;
    font-size: 25px;
}

#unit-select-button button:hover{
    background-color: #111; 
}

#page-title p {
    margin: 20px;
    font-size: 50px;
}

#variable-inputs input, #variable-inputs button {
    background-color: rgb(151, 151, 151);
    margin: 20px;
    padding: 10px;
    border-radius: 3px;
}

#variable-inputs input:hover {
    background-color: rgb(128, 128, 128);
}

#variable-inputs button:hover {
    background-color: rgb(36, 36, 36);
}

#variable-inputs input::placeholder {
    color: white;
}

