ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}

li .nav-items {
    display: block;
    text-align: center;
    padding: 22px 20px;
    text-decoration: none;
}

li #page-title-nav {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

/* Change the link color to #111 (black) on hover */
li .nav-items:hover {
    background-color: #111;
}