<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/nav_bar_styles.css">
    <link rel="stylesheet" href="/static/styles/global_uniform.css">
    <link rel="stylesheet" href="/static/styles/calculator_styles.css">
    <link rel="icon" href="/static/icons/home_tab_icon.png">
    <title>Distance</title>
</head>
<body>
    <%- include('../../nav_bar.ejs') %>
    <div id="page-title">
        <p>Distance</p> 
    </div>
    <img id="formula-img" src="">
    <div id="variable-inputs">
        <input type="text" placeholder="Work" id="work-input"><br>
        <input type="text" placeholder="Force" id="force-input"><br>
        <button id="calculate-button">Calculate</button>
    </div>
    <div id="answer-container">
        <p id="answer">ANSWER: </p>
    </div>
</body>
<script src="../../static/scripts/energy/d_formula.js"></script>
</html>